.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  border-radius: 70px;
  background: var(--gray-2, #fafafa);
}
.header-container img {
  cursor: pointer;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul li {
  list-style: none;
  margin-left: 20px;
}
.header-ul li a {
  text-decoration: none;
  color: #000000;
  font-family: serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.header-btn {
  padding: 10px 15px;
  border-radius: 60px;
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
}
.header-btn:hover {
  background: rgb(37, 37, 37);
  color: white;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 10px 100px;
  background: linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
}

.banner-intro {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 5px;
}
.banner-title {
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 75px;
  font-style: bold;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 5px;
}
.banner-des {
  margin-top: 10px;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.input {
  position: relative;
}

.input-mail {
  padding: 15px 20px;
  font-size: medium;
  border-radius: 60px;
  padding-right: 50px;
  border: none;
}
.input-btn {
  border: none;
  position: absolute;
  left: 200px;
  padding: 15px 20px;
  font-size: 15px;
  background: black;
  color: white;
  border-radius: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

/* Step Container */
.step-container {
  padding: 30px 100px;
  text-align: center;
}
.step-des {
  font-size: 25px;
  color: rgb(22, 19, 19);
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-bottom: 5px;
}
.step-title {
  margin-top: 8px;
  font-size: 56px;
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.step-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.step-card {
  padding: 10px 20px;
  text-align: start;
}
.step-card h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.step-card p {
  margin-top: 5px;
  font-size: 15px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.step-card i {
  font-size: 50px;
  color: green;
}

/* Recent Project Container */
.recent-project-container {
  padding: 20px 120px;
}
.project-des {
  font-size: 20px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-bottom: 5px;
}
.project-title {
  margin-top: 5px;
  font-size: 40px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.project-container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
}
.project-box {
  padding: 20px 25px;
  border-radius: 14px;
  border: 1px solid var(--gray-Color, #bebebe);
  /* opacity: 0.45; */
  background: var(--White, #fefeff);
}
.project-box .img {
  margin: auto;
}
.box-title {
  font-size: 30px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-bottom: 5px;
}
.box-des {
  margin-top: 5px;
  font-size: 18px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.rating i {
  color: rgba(237, 122, 35, 0.988);
  font-size: 25px;
}

.global-client-container {
  margin-top: 10px;
  padding: 20px 150px;
  text-align: center;
}

.global-title {
  font-size: 50px;
  color: #000000;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-align: center;
}
.global-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  text-align: start;
}
.left-title {
  color: #000000;
  font-size: 45px;
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-bottom: 25px;
}
.left-des {
  margin-top: 8px;
  font-size: 20px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  color: rgb(95, 95, 95);
  margin-bottom: 30px;
}

.btn-book {
  padding: 10px 15px;
  background: #232222;
  color: #fff9f9;
  font-size: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}
.btn-read {
  padding: 10px 15px;
  font-size: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  cursor: pointer;
  border: 1px solid gray;
  margin-left: 25px;
  border-radius: 60px;
}
.left-chart {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.left-chart h1 {
  padding: 10px 25px;
  font-size: 35px;
  color: black;
  font-weight: 800;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
}
.left-chart span {
  font-style: normal;
  font-size: 25px;
  color: black;
  font-weight: 400;
}

.footer-container {
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
}
.left-title {
  font-size: 55px;
  color: #000000;
  font-weight: 700;
  font-style: bold;
  font-family: Verdana, Tahoma, sans-serif;
}
.left-des {
  font-size: 20px;
  color: rgb(70, 70, 70);
  font-style: normal;
  font-weight: 500;
  font-family: Verdana, Tahoma, sans-serif;
}
.copyright{
  text-align: center;
  padding: 20px 10px ;
  font-size: 20px;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}